@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.menu {
    background-color: #212529;
    color: #fff;
    list-style: none;
    height: 100vh;
    border-radius: 0px 0px 20px 0px;
}

.menu-item {
    text-decoration: none;
    font-style: none;
    color: #fff;
    display: block;
    padding: 10px 20px;
}

.menu-item:hover {
    font-style: none;
    text-decoration: none;
    color: #6495ed;
    font-size: 20px;
}

/* No celular o menu lateral desaparece */
@media(max-width: 768px) {
    .menu {
        display: none;/* desativar*/
    }
}

h3 {
    text-align: center;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

h5 {
    color: #ffffff;
}

.painel-label-texto {
    color: #fdfeff;
    font-size: 1.2rem;
}

.form-group input {
    border-radius: 8px;
}

.card {
    margin: 5px;
    box-shadow: 1px 1px 6px #848485bb;
    padding: 5px;
}

.btn-form {
    margin-top: 10px;
}

.painel {
    max-width: 350px;
    min-width: 350px;
    backdrop-filter: Blur(15px);
    background-color: #d2d6db5b;
    margin: auto;
    box-shadow: 2px 2px 5px #9b9b9b;
    padding: 40px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.form-group {
    margin-top: 5px;
    margin-bottom: 15px;
}